# Julia
*.jl.cov
*.ji
*.toml.bak
*.jl~
.vscode/
.julia/
*.jlpluto

# Outputs & Logs
logs/
temp/
work/
output/
*.log
*.tmp
*.bak
*.old

# Data and Forecast Files
input/

# Jupyter and Python temp files
.ipynb_checkpoints
__pycache__/
*.pyc

# OS & Editor
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
